fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
psycopg2-binary
asyncpg
alembic
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
starlette
pillow
apscheduler
aiosmtplib
fastapi-utils
loguru
pytest
httpx
redis

